
.vscode
data/*
logs
db
dev
deploy
make_profile.db
make.svg
make_last.svg
make.lock
osmaboardbt.duckdb.tmp
osmaboardbt.duckdb
osmaboardbt/logs
misc.txt
log.txt
osmaboardbt.duckdb.tmp/*
duckdb
report.json
keep_changesets_history_files